.containerForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow-x: hidden;
    margin-top: 50px;
    margin-bottom: 50px;
}

.containerHalf {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    width: 100%;
}

.containerFields {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
    width: 80%;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}

.inputTamanho {
    width: 100%;
}

.button {
    border: 1px solid black;
    width: 100%;
}

.colorBlack {
    color: black
}