.container {
    display: flex;
    justify-content: center; /* Alinha horizontalmente no centro */
    align-items: center; /* Alinha verticalmente no centro */
    height: 100vh; /* Garantir que ocupe 100% da altura da tela */    
}

.containerFields {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
    width: 100%;
}

.widthFull {
    width: 100%;
}

.width50Percent {
    width: 50%;
}