.container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Alinha horizontalmente no centro */
    align-items: center; /* Alinha verticalmente no centro */
    height: 100vh; /* Garantir que ocupe 100% da altura da tela */   
    width: 100vw; 
}


.logo {
    margin-top: 11px;
    color: white;
    margin-bottom: 28px;
}

.logoRest {
    background: linear-gradient(to right, #fbbf24, #fb923c);
    background-clip: text;
    color: transparent;
}

.containerFields {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 50%;
    max-width: 500px;
    min-width: 400px;
}

.widthFull {
    width: 100%;
}

.width50Percent {
    width: 50%;
}

.colorWhite {
    color: white
}

@media screen and (max-width: 400px) {

    .logoMaxWidtGreat350 {
        max-width: 180px;   
    }

    .minWidthMobile {
        min-width: 200px;   
    }
}



