.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    gap: 8px;
    height: 100%;
    width: 100vh;
}

.containerButton {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
}

.containerHalf {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    width: 100%;
}

.inputTamanho {
    width: 98.5%;
}

.button {
    border: 1px solid black;;
}