.containerCabecalho {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.colorDeletar {
    color: rgb(206, 17, 17)
}

.colorEdit {
    color: #4CAF50
}

.mousePointer {
    cursor: pointer;
}

table {
    border-collapse: separate;
    border-spacing: 0 14px;
    margin: 0px;
    padding: 0px;
    width: 100%;
    table-layout: fixed;
}

table caption {
    font-size: 16px;
    margin: 0.5em 0.75em;
}

.tr {
    background-color: #1d1c20;
}

td:first-child,
th:first-child {
    border-radius: 8px 0 0 8px;
}

td:last-child,
th:last-child {
    border-radius: 0 8px 8px 0;
}

table th,
table td {
    padding: 14px;
    text-align: center;
}

th {
    color: rgb(44, 44, 44);
}

.tdLabel {
    font-weight: bold;
    font-size: 18px;
    color: #fff;
}

.tdProfit {
    color: #12f98a;
}

.tdLoss {
    color: #f91257;
}

@media screen and (max-width: 600px) {
    table {
        border: 0;
    }

    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        position: absolute;
        width: 1px;
        padding: 0;
    }

    .tr {
        border-bottom: 1px solid #ddd;
        display: block;
        margin-bottom: 14px;
    }

    table td {
        border-bottom: 1px solid rgba(221, 221, 221, 0.170);
        display: block;
        text-align: right;
        font-size: 14px;
    }

    table td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }

    table td:last-child {
        border-bottom: 0;
    }

    td:first-child,
    th:first-child {
        border-radius: 0;
    }

    td:last-child,
    th:last-child {
        border-radius: 0;
    }

}