.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 64px;    
    border-bottom: 1px solid rgb(100, 100, 100); /* Linha branca na parte inferior */
}

.sair {
    color: white;
    cursor: pointer;
}

.logo {
    font-size: 23px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 30px;
}

.linkPerson {
    color: inherit;
    width: 100%;
    height: 100%;

    &:hover {
        color: inherit;
    }
}