.container {    
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

.containerComBorder {
    overflow-x: hidden;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 80%;
    padding: 20px;
    background-color: white;
    border-radius: 10px;

}