@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  width: 100vw;
  height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
    height: 36px;
    background-color: #2563eb; /* Cor azul escura (bg-blue-600 do Tailwind) */
    color: white; /* Cor do texto em branco para contrastar */
    border-radius: 4px;
    border: none;
    font-size: 18px;
    font-weight: 500;
    width: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background: linear-gradient(#232630, #050507);
  
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

input {
  padding: 10px;
  color: #ffffff;
  background: transparent;
  border: none;
  outline: none;
}

input:focus {
  background-color: none; /* Alterando fundo quando o campo estiver em foco */
  outline: none; /* Remove a linha de contorno (se necessário) */
}

input:-webkit-autofill {
  background-color: none !important; /* Remove o fundo branco */
}

input:-moz-placeholder-shown {
  background-color: none !important; /* Remove o fundo no Firefox */
}

/* No caso de utilizar `:focus` e também aplicar ao autofill */
input:focus:-webkit-autofill {
  background-color: none !important; /* Garante que o fundo não mude ao focar */
}

